*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.back-img{
  background-image: url('../src/assets/backgroung.png');
  height: 350px;
  width: 100%;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

}
